Django==1.6.6
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.0.0
psycopg2==2.5.3
static3==0.5.1
Sift==0.1.0
Yoav==0.2.1
django-social-auth==0.7.28
djangotoolbox==1.6.2
elo==0.1
httplib2==0.9
mock==1.0.1
oauth2==1.5.211
python-openid==2.2.5
requests==2.3.0
wsgiref==0.1.2
