<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <title>SiftPong Homepage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
  <body>
    <div class="container">
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Sift Pong</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/leaderboard/">Leaderboard</a></li>
                <li><a href="/players">Players</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated and not user.is_superuser %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/players/{{ user.username|urlencode }}/">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <form class="navbar-form navbar-right" action="/login/">
                        <a href="/register/">Sign Up</a>
                       <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        <div class="row">
            {% if post_game_add %}
                <h1 align="middle">Game added successfully</h1>
            {% endif %}

            <form name="add_game_form" action="/add_game/" method="post">

                    {% csrf_token %}

                <h1 style="text-align: center" id="error_message"></h1>
                <div class="col-lg-6 col-md-6">
                    <div class="jumbotron">

                        <h2 style="text-align: center">Team 1</h2>
                        <div class="input-group">
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default
                                 dropdown-toggle" data-toggle="dropdown" >
                                 Choose Player
                                 <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" id="player_0_0">
                              </ul>
                           </div><!-- /btn-group -->
                           <input class="span2" id="player_1" name="player_1" type="hidden" required="required">

                        </div><!-- /input-group -->
                        <div id="games_0">
<!--
                            <br>
                            <div class="row" style="text-align: center">
                               <div class="col-lg-3">
                                   <h5>Game 1:</h5>
                               </div>
                               <div class="col-lg-9" id="game_0_0">

                                   <div class="btn-group">
                                      <button type="button" class="btn btn-default btn-sm">0</button>
                                      <button type="button" class="btn btn-default btn-sm">1</button>
                                      <button type="button" class="btn btn-default btn-sm">2</button>
                                      <button type="button" class="btn btn-default btn-sm">3</button>
                                      <button type="button" class="btn btn-default btn-sm">4</button>
                                      <button type="button" class="btn btn-default btn-sm">5</button>
                                   </div>
                                   <br>
                                   <div class="btn-group">
                                     <button type="button" class="btn btn-default btn-sm">6</button>
                                     <button type="button" class="btn btn-default btn-sm">7</button>
                                     <button type="button" class="btn btn-default btn-sm">8</button>
                                     <button type="button" class="btn btn-default btn-sm">9</button>
                                     <button type="button" class="btn btn-default btn-sm">10</button>
                                     <button type="button" class="btn btn-default btn-sm">11</button>
                                   </div>

                               </div>
                            </div> --><!--/row-->

                        </div>
                        <div class="row" style="text-align: center">
                            <br>
                            <div class="col-lg-4">
                                <button type="button" id="add_game_btn" class="btn btn-default">+</button>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="jumbotron">
                        <h2 style="text-align: center">Team 2</h2>
                        <div class="input-group">
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-default
                                 dropdown-toggle" data-toggle="dropdown" name="player_3">
                                 Choose Player
                                 <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu" id="player_1_0">
                              </ul>
                           </div><!-- /btn-group -->
                           <input class="span2" id="player_3" name="player_3" type="hidden">
                        </div><!-- /input-group -->
                        <div id="games_1">

                        </div>
                        <!-- padding -->
                        <p></p><br><br>
                    </div> <!--/jumbotron-->
                </div>
                <div class="col-lg-2 col-lg-offset-5" style="text-align: center">
                <button type="button" class="btn btn-primary" id="submit_match">Submit Match</button>
                </div>

            </form>

        </div>





    </div>




<!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>

        var player_1_list = document.getElementById('player_0_0');
        var player_2_list = document.getElementById('player_1_0');
        var emailList = new Array();
        var SCORES = [];
        var PLAYERS = [];
        var activeButton = [];
        var number_of_games = 0;

        function addGame(team_number, game_number) {
            //create buttons
            var buttonArray = Array();
            for ( var i = 0; i < 13; i++ ) {
                buttonArray[i] = $('<button>', {
                                    type:   "button",
                                    class:  "btn btn-default btn-sm",
                                    id: "score-btn",
                                    text:   i
                });
            }
            // create button groups
            var button_group_1 = $('<div>', { class: "btn-group" });
            for (var i = 0; i < 7; i++) {
                button_group_1.append(buttonArray[i]);
            }
            var button_group_2 = $('<div>', { class: "btn-group" });
            for (var i = 7; i < 13; i++) {
                button_group_2.append(buttonArray[i]);
            }

           var total = $('<div>', { class: 'row', style :  "text-align: center"})
                            .append($('<div>')
                                .addClass('col-lg-3')
                                .append($('<h5>')
                                    .text("Game " + (game_number + 1).toString())

                                )
                            )
                            .append($('<div>')
                                .addClass('col-lg-9')
                                .attr("id", "game_" + team_number.toString() + "_" + game_number.toString())
                                .append(button_group_1)
                                .append($('<br>'))
                                .append(button_group_2)
                            );
           return total;
        }

        function addGames() {

            $('#games_0').append($('<br>'));
            $('#games_1').append($('<br>'));

            $('#games_0').append(addGame(0,number_of_games));
            $('#games_1').append(addGame(1,number_of_games));
            number_of_games++;
        }

        window.onload = function(){
           SCORES[0] = [];
           SCORES[1] = [];
           PLAYERS[0] = [];
           PLAYERS[1] = [];
           $.getJSON('/api/player_emails_and_names', { }, function(data) {
                $.each(data, function(index, element) {
                    var link1 = document.createElement('a');
                    link1.appendChild(document.createTextNode(element));
                    var liEntry1 = document.createElement('li');
                    liEntry1.appendChild(link1);
                    player_1_list.appendChild(liEntry1);

                    var link2 = document.createElement('a');
                    link2.appendChild(document.createTextNode(element));
                    var liEntry2 = document.createElement('li');
                    liEntry2.appendChild(link2);
                    player_2_list.appendChild(liEntry2);

                    emailList[element] = index;
                });

            });

            $.ajaxSetup({
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                             if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                 break;
                             }
                         }
                     }
                     return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 }
            });
            addGames();

        };

        $(document).ready(function() {
            // on dropdown click, set the players correctly.
            $('ul').on('click touchstart','li', function (evt) {
                var player_id = $(this).parent().attr('id');
                // split into team and game number i.e. game_2_0 (first game for team 2) = [2,0]
                var array = player_id.split('_');

                if (array.length > 2) {
                    var team = parseInt(array[1],0);
                    var player = parseInt(array[2],0);
                }
                var player_email = emailList[$(this).text()];

                PLAYERS[team][player] = player_email;
                $(this).closest('.input-group-btn').children('button').text($(this).text());
            });

            // on a score button click, record the score
            $('body').on('click touchstart', '#score-btn', function(evt) {
                // get the game ID
                var game_id = $(this).parent().parent().attr('id');
                // split into team and game number i.e. game_2_0 (first game for team 2) = [2,0]
                var array = game_id.split('_');


                if (array.length > 2) {
                    var team = parseInt(array[1],0);
                    var game = parseInt(array[2],0);
                }

                var score = parseInt($(this).text(),0);


                SCORES[team][game] = score;

                // deactivate last button, active current button.
                if (activeButton[game_id] != undefined) {
                    $(activeButton[game_id]).removeClass('active');
                }
                $(this).addClass('active');
                activeButton[game_id] = this;

            });

            //JSON.stringify({team_1: {players: [], scores: []}, team_2: {players: [], scores: []}});
            //check for undefined array items within length or scores arrays.
            $("#submit_match").click( function() {
                //build a JSON from Players and Scores
                var post_json = {};

                var team_1 = new Object();
                team_1.players = PLAYERS[0];
                team_1.scores = SCORES[0];

                var team_2 = new Object();
                team_2.players = PLAYERS[1];
                team_2.scores = SCORES[1];

                var t1_wins = 0;
                var t2_wins = 0;
                //calculate lengths
                for (var i = 0; i < team_1.scores.length; i++) {
                  if ( team_1.scores[i] >  team_2.scores[i] ){
                    t1_wins++;
                  }
                  else if (team_2.scores[i] >  team_1.scores[i]) {
                    t2_wins++;
                  }
                  else {
                    t2_wins++;
                    t1_wins++;
                  }
                }

                if (team_1.players.length === 0 || team_2.players.length === 0) {
                    $('#error_message').text( "You must choose at least 1 player for each team.");
                }
                else if (team_1.scores.length === 0 || team_2.scores.length === 0) {
                    $('#error_message').text( "Choose a score for the game.");

                }
                else if (team_1.scores.length != team_2.scores.length || team_1.scores.length != number_of_games) {
                    $('#error_message').text( "Please choose a score both teams in every game.");
                }
                else if ( t1_wins === t2_wins ) {
                    $('#error_message').text( "One player must have more wins than the other. (Who's the winner?)");
                }
                else {
                    post_json["team_1"] = JSON.stringify(team_1);
                    post_json['team_2'] = JSON.stringify(team_2);

                    //post_json = JSON.stringify(post_json);

                    $.post("/api/post_match/", post_json, function(data) {
                            console.log(data['error']);
                            console.log(data['message']);

                            if (data['error'] == 0) {
                                window.location.href = window.location.href;
                            }




                        }
                    );
                }

            });

            $("body").on('click touchstart', '#add_game_btn', function() {
               addGames();
            });



       });
    </script>


  </body>
</html>
