<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <title>SiftPong Homepage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style>
        .bold { font-weight: bold; }
        .loss { color: #CC0000; }
        .win { color: #009933; }
        .winscore { left: 2px; }
    </style>

</head>
  <body>
    <div class="container">
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Sift Pong</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/leaderboard/">Leaderboard</a></li>
                <li><a href="/players">Players</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated and not user.is_superuser %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/players/{{ user.username|urlencode }}/">Player Page</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <form class="navbar-form navbar-right" action="/login/">
                        <a href="/register/">Sign Up</a>
                       <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>


        <!-- Player Rankings Panel -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">Singles Rankings</h3>
                  </div>
                  {% if player_list %}
                      <div class="panel-body">
                        <ul class="list-group">
                          {% for player in player_list %}
                              <li class="list-group-item">
                                  {{forloop.counter}}.
                                  <span class="badge">{{ player.elo_singles_ranking }}</span>
                                  {{ player.user.first_name }} {{ player.user.last_name }}
                              </li>
                          {% endfor %}
                        </ul>
                      </div>
                  {% endif %}
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">Recent Games</h3>
                  </div>
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: center">
                            <form class="" action="/add_game/">
                               <button type="submit" class="btn btn-primary">Add Game</button>
                            </form>
                                <br/>
                                </div>
                        </div>
                        <ul class="list-group" id="game_list">
                        </ul>
                      </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        window.onload = function(){
            //populate games list
           $.getJSON('../api/games', { max_games : 5 }, function(data) {
                $.each(data, function(index, element) {
                    //element is teh game json
                    console.log(element);
                    var li = document.createElement('li');
                    li.className = "list-group-item";

                    var date_span = document.createElement('span');
                    date_span.className = "bold pull-right";
                    date_span.appendChild(document.createTextNode(element['game_date']));
                    li.appendChild(date_span);

                    var row_div = document.createElement('div');
                    row_div.className = "row";


                    // Add Player 1
                    var p1_div = document.createElement('div');
                    p1_div.className = "col-lg-3";

                    var p1_par = document.createElement('p');
                    p1_par.style.textAlign="center";

                    var p1_span = document.createElement('span');
                    p1_span.appendChild(document.createTextNode(element['player_1']));


                    p1_par.appendChild(p1_span);
                    //add br here.
                    var brk =document.createElement('br');
                    p1_par.appendChild(brk);
                    p1_par.appendChild(document.createTextNode(element['score_1']));

                    p1_div.appendChild(p1_par);

                    row_div.appendChild(p1_div);


                    //add vs.
                    var vs_div = document.createElement('div');
                    vs_div.className = 'col-lg-1';

                    var vs_par = document.createElement('p');
                    vs_par.appendChild(document.createTextNode("vs."));

                    vs_div.appendChild(vs_par);

                    row_div.appendChild(vs_div);


                    // Add player 2
                    var p2_div = document.createElement('div');
                    p2_div.className = "col-lg-3";

                    var p2_par = document.createElement('p');
                    p2_par.style.textAlign="center";

                    var p2_span = document.createElement('span');
                    p2_span.className = "bold";
                    p2_span.appendChild(document.createTextNode(element['player_2']));

                    p2_par.appendChild(p2_span);

                    //add br here.
                    var brk =document.createElement('br');
                    p2_par.appendChild(brk);
                    p2_par.appendChild(document.createTextNode(element['score_2']));

                    p2_div.appendChild(p2_par);

                    row_div.appendChild(p2_div);

                    if (element['score_1'] > element['score_2']) {
                        p1_span.className = "bold win";
                        p2_span.className = "bold loss";
                    }
                    else {
                        p1_span.className = "bold loss";
                        p2_span.className = "bold win";
                    }

                    li.appendChild(row_div);

                    list = document.getElementById('game_list');
                    list.appendChild(li);
                });
           });};
    </script>
  </body>
</html>
