<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     <title>SiftPong Homepage</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <style>
        .bold { font-weight: bold; }
        .loss { color: #CC0000; }
        .win { color: #009933; }
        .winscore { left: 2px; }
    </style>

</head>
  <body>
    <div class="container">
        <!-- Nav Bar -->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Sift Pong</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/leaderboard/">Leaderboard</a></li>
                <li><a href="/players">Players</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated and not user.is_superuser %}
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.first_name }} {{ user.last_name }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="/players/{{ user.username|urlencode }}/">Profile</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout/">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <form class="navbar-form navbar-right" action="/login/">
                        <a href="/register/">Sign Up</a>
                       <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>



        <div class="row">
            <!-- Player Rankings Panel -->
            <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">Singles Rankings</h3>
                  </div>
                      <div class="panel-body">
                        <ul class="list-group" id="playerList">

                        </ul>
                      </div>
                </div>
            </div>


            <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title text-center">Recent Matches</h3>
                  </div>
                      <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-2" style="text-align: center">
                            <form class="" action="/add_game/">
                               <button type="submit" class="btn btn-primary">Add Match</button>
                            </form>
                                <br/>
                                </div>
                        </div>
                        <ul class="list-group" id="game_list">
                        </ul>
                      </div>
                </div>
            </div>
        </div>



    </div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        window.onload = function(){
            // populate player list
            /* builds these objects
                <li class="list-group-item">
                                  {{forloop.counter}}.
                                  <span class="badge">{{ player.elo_singles_ranking }}</span>
                                  {{ player.user.first_name }} {{ player.user.last_name }}
                              </li>
            */
           $.getJSON('/api/players_ranked', {}, function(data) {
                $.each(data, function(index, element) {
                    span = $('<span>').addClass("badge").text(element['ranking']);
                    player_entry = $('<li>')
                                .addClass("list-group-item")
                                .text("Wins: " + element['wins'] + " Losses: " + element['losses'])
                                .append($('<div>')
                                            .addClass("col-lg-5")
                                            .text((index+1) + ". " + element['name'])
                                );
                    player_entry.append(span);
                    $("#playerList").append(player_entry);

                });
           });

            //populate games list
            /* Builds THESE objects:
                <li class="list-group-item">
                    <div class="header">
                        <span class="bold pull-right">Game Date</span>
                        <div class="row">
                            <div class="col-lg-3">
                                <p style="text-align: center;">
                                    <span class="bold loss">Player 1</span>
                                    <br>
                                    wins: #wins
                                </p>
                            </div>
                            <div class="col-lg-1">
                                <p>vs.</p>
                            </div>
                            <div class="col-lg-3">
                                <p style="text-align: center;">
                                    <span class="bold win">Player 2</span>
                                    <br>
                                    wins: # wins
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="content" style="display: none">
                        <div class="row">
                            <div class="col-lg-7" style="text-align: center">
                                <p class="bold">Games</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                 <p style="text-align: center;">game_1 score</p>
                            </div>
                            <div class="col-lg-1">
                                <p>-</p>
                            </div>
                            <div class="col-lg-3">
                                 <p style="text-align: center;">game_1 score</p>
                            </div>
                        </div>
                    </div>
                </li>
            */
           $.getJSON('../api/matches', {max_matches:5}, function(data) {
                $.each(data, function(index, element) {
                    match_date = new Date(element['timestamp'] * 1000);
                    var date_span = document.createElement('span');
                    date_span.className = "bold pull-right";
                    date_span.appendChild(document.createTextNode(match_date.toDateString()));


                    var row_div = document.createElement('div');
                    row_div.className = "row";


                    // Add Player 1
                    row_div.appendChild(buildSinglePlayerHeader(element['player_1'], element['p1_wins'], element['p1_wins'] > element['p2_wins']));

                    //add vs.
                    var vs_div = document.createElement('div');
                    vs_div.className = 'col-lg-1';
                    $(vs_div).append("<p>").text("vs.");
                    row_div.appendChild(vs_div);


                    // Add player 2
                    row_div.appendChild(buildSinglePlayerHeader(element['player_2'], element['p2_wins'], element['p2_wins'] > element['p1_wins']));

                    var header = document.createElement('div');
                    header.className = "header";
                    header.appendChild(date_span);
                    header.appendChild(row_div);

                    // build the content
                    var content = buildContent(element['games']);


                    var li = document.createElement('li');
                    li.className = "list-group-item";
                    li.appendChild(header);
                    li.appendChild(content);

                    //var div = document.createElement('div');
                    //div.appendChild(li);

                    list = document.getElementById('game_list');
                    list.appendChild(li);
                });
           });};

           $(document).ready(function() {

            // allow expansion of content in games list.
            $('#game_list').on('click','li', function (evt) {
                header = $(this).children(":first");
                //getting the next element
                content = header.next();
                //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
                content.slideToggle(300);
            });


       });

       function buildSinglePlayerHeader(player_name, wins, winner) {
            var div = document.createElement('div');
            div.className = "col-lg-3";

            var par = document.createElement('p');
            par.style.textAlign="center";

            var name_span = document.createElement('span');
            name_span.appendChild(document.createTextNode(player_name));

            if (winner) {
                name_span.className = "bold win";
            }
            else {
                name_span.className = "bold loss";
            }


            par.appendChild(name_span);
            //add br here.
            var brk =document.createElement('br');
            par.appendChild(brk);
            par.appendChild(document.createTextNode(wins));

            div.appendChild(par);

            return div;
       }

       function buildContent(games) {
            var content = document.createElement('div');
            content.className = "content";
            content.style.display ="none";

            /*
            <div class="row">
                <div class="col-lg-7" style="text-align: center">
                    <p class="bold">Games</p>
                </div>
            </div>
            */
            var games_row = document.createElement('div');
            games_row.className += "row";
            var games_div = document.createElement('div');
            games_div.className += "col-lg-7";
            games_div.style.textAlign = "center";

            $(games_div).append($("<p>")
                .addClass('bold')
                .text("Games")
                );
            games_row.appendChild(games_div);

            content.appendChild(games_row);


            //content.appendChild(games_row);

            $.each(games, function(index, element) {
                    var row = document.createElement('div');
                    row.className += "row";
                   row.appendChild(buildGameScore(element['score_1']));


                    var div = document.createElement('div');
                    div.className += 'col-lg-1';
                    $(div).append("<p>").text("-");
                    row.appendChild(div);

                   row.appendChild(buildGameScore(element['score_2']));
                   content.appendChild(row);
            });

            return content;
       }

       /*
        build this:
        <div class="col-lg-3">
             <p style="text-align: center;">game_1 score</p>
        </div>
       */
       function buildGameScore(score) {
            var div = document.createElement('div');
            div.className += 'col-lg-3';

            var p = document.createElement('p');
            p.style.textAlign = "center";
            $(p).text(score);

            div.appendChild(p);
            return div;
       }
    </script>
  </body>
</html>
